@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header Styles */
header {
  background-color: #396E94;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

#logo_link {
  margin-right: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Align links to the center */
  width: 100%;
  padding: 10px 0;
}

nav a {
  margin: 0 5px; /* Adjust the spacing between links */
  color: #ffffff;
  text-decoration: none;
}

nav a:first-child {
  margin-left: 0; /* Remove the left margin from the first link */
}

nav a:last-child {
  margin-right: 0; /* Remove the right margin from the last link */
}

/* Main Section Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h1 {
  margin-bottom: 10px;
  text-align: center;
}

section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  max-width: 300px; /* Limit the maximum width of images */
}

section button {
  background-color: #E7C24F;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Make the button a block element */
  margin: 0 auto; /* Center the button horizontally */
}

div.rectangle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

div.rectangle img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Limit the maximum width of images */
}

div.rectangle p {
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: #A43312;
  color: #FFF;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Align text to the center */
  flex-wrap: wrap; /* Wrap the content if it exceeds the width */
}

footer p {
  margin: 0;
}

footer a {
  margin-right: 10px;
  color: #FFF;
}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Palette Colors */
:root {
  --color-primary: #396E94;
  --color-secondary: #E7C24F;
  --color-accent: #A43312;
}

/* Apply Colors */
header {
  background-color: var(--color-primary);
}

nav a {
  color: #FFF;
}

section button {
  background-color: var(--color-secondary);
}

footer {
  background-color: var(--color-accent);
  color: #FFF;
}

.first-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
