/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  background-color: #fcfbfb;
}

h2 {
  margin: 0;
}

.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
}

.msg {
  background-color: #6f7364;
  line-height: 1.5em;
}

/* Header Styles */
header {
  background-color: #396E94;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

nav a {
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 35px;
}

/* Main Section Styles */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h1 {
  margin-bottom: 10px;
}

section img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

section button {
  background-color: #E7C24F;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.rectangle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

div.rectangle img {
  width: 100%;
  height: auto;
}

div.rectangle p {
  margin-bottom: 10px;
}

/* Footer Styles */
footer {
  background-color: #A43312;
  color: #fcfbfb;
  padding: 25px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  margin: 0;
}

footer a {
  margin-right: 10px;
  color: #fcfbfb;
}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Padding */
#logo_link {
  padding-top: 5px;
}

nav a {
  padding: 35px;
}

.book,
.join {
  padding: 15px 30px;
}

.icon {
  padding-top: 10px;
}

.msg {
  padding: 35px;
}

.msg p {
  padding-bottom: 15px;
}

footer .social img {
  padding-top: 15px;
}

/* Margins */
.home-title {
  margin-top: 10px;
}

.book,
.join {
  margin-top: 50px;
}

.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}

footer {
  margin-top: 200px;
}

/* Borders and Border Radius */
.book,
.join {
  background-color: #d9c2a3;
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.card-img {
  border: 10px solid #d9c2a3;
}

/* Box-sizing */
main section img {
  box-sizing: border-box;
}
