/* Reset default margin and padding */
html, body {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.logo {
  width: 100px;
  height: auto;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

/* Main content styles */
main {
  padding: 20px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #396E94;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.rectangle {
  display: flex;
  align-items: center;
}

.rectangle img {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

p {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

/* Footer styles */
footer {
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
}

.social img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Grid Layout */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Navigation colors */
nav a {
  color: #396E94;
}

/* Color Palette */
:root {
  --primary-color: #396E94;
  --secondary-color: #E7C24F;
  --accent-color-1: #A43312;
}
